<%- include ('./partials/header.ejs') %>

<div class="container">
  <div class="row justify-content-center row-cols-1 row-cols-md-2">
    <% for( const fiera of fiere ) { %>
    <div class="col">
      <div class="card" style="margin-top: 10px">
        <% switch (fiera.tag) { case 'Fumetto': %>
        <div
          class="card-header"
          style="background-color: #b02a37; color: white"
        >
          <%= fiera.tag %>
        </div>
        <% break; case 'Artigianato': %>
        <div
          class="card-header"
          style="background-color: #cc9a06; color: white"
        >
          <%= fiera.tag %>
        </div>
        <% break; case 'Nautica': %>
        <div
          class="card-header"
          style="background-color: #0a58ca; color: white"
        >
          <%= fiera.tag %>
        </div>
        <% break; case 'Cucina': %>
        <div
          class="card-header"
          style="background-color: #ca6510; color: white"
        >
          <%= fiera.tag %>
        </div>
        <% break; case 'Agricoltura': %>
        <div
          class="card-header"
          style="background-color: #146c43; color: white"
        >
          <%= fiera.tag %>
        </div>
        <% break; case 'Tecnologia': %>
        <div
          class="card-header"
          style="background-color: #6c757d; color: white"
        >
          <%= fiera.tag %>
        </div>
        <% break; } %>

        <img
          class="card-img-top"
          src="/images/fiere/<%= fiera.nome %>/1.jpg"
          alt="<%= fiera.nome %>"
        />
        <div class="card-body">
          <h5 class="card-title"><%= fiera.nome %></h5>
          <p
            class="card-text"
            style="
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
            "
          >
            <%= fiera.descrizione %> Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Praesentium commodi recusandae, dicta molestiae
            aut, sunt debitis culpa, magnam quia nemo aperiam ad totam ipsum
            libero asperiores consectetur. Voluptas enim sapiente voluptatibus
            vero vitae velit dicta consequuntur consectetur, cumque ducimus
            delectus fugit dolores eius distinctio labore accusantium id
            explicabo eos doloremque?
          </p>
          <a href="/fiera/<%= fiera.id %>" class="btn btn-primary"
            >Vai alla fiera</a
          >
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<%- include ('./partials/footer.ejs') %>
