<%- include ('./partials/header.ejs') %>

<div class="container">
  <div class="row justify-content-center">
    <h1 class="text-center m1">
      <strong><%= fiera.nome %></strong>
    </h1>
    <div
      id="myCarousel"
      class="carousel slide text-center"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            class="d-block w-100 img-carousel"
            src="/images/fiere/<%= fiera.nome %>/1.jpg"
            alt="First slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100 img-carousel"
            src="/images/fiere/<%= fiera.nome %>/2.jpg"
            alt="Second slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100 img-carousel"
            src="/images/fiere/<%= fiera.nome %>/3.jpg"
            alt="Third slide"
          />
        </div>
      </div>
    </div>
  </div>

  <h3 class="mb-2 mt-2">Descrizione:</h3>
  <p><%= fiera.descrizione %></p>

  <div class="row justify-content-start mb-1 mt-1">
    <div class="col-sm-auto">
      <h5>Data inizio:</h5>
    </div>
    <div class="col-sm-auto line">
      <p><%= fiera.dataInizio %></p>
    </div>
  </div>

  <div class="row justify-content-start mb-1 mt-1">
    <div class="col-sm-auto">
      <h5>Data fine:</h5>
    </div>
    <div class="col-sm-auto line">
      <p><%= fiera.dataFine %></p>
    </div>
  </div>

  <div class="row justify-content-start mb-1 mt-1">
    <div class="col-sm-auto">
      <h5>Posizione:</h5>
    </div>
    <div class="col-sm-auto line">
      <p><%= fiera.posizione %></p>
    </div>
    <div class="col-sm-auto">
      <a
        href="http://maps.google.com/maps?q=<%= fiera.posizione %>"
        class="btn btn-primary"
        target="_blank"
        >Maps</a
      >
    </div>
  </div>

  <div class="row justify-content-start mb-1 mt-1">
    <div class="col-sm-auto mt-auto">
      <h5>Posti totali:</h5>
    </div>
    <div class="col-sm-auto line">
      <p><%= fiera.postiTotali %></p>
    </div>
  </div>

  <div class="row justify-content-start">
    <div class="col-sm-auto mt-auto">
      <h5>Posti rimanenti:</h5>
    </div>
    <div class="col-sm-auto line">
      <p><%= fiera.postiRimanenti %></p>
    </div>
    <div class="col-sm-auto">
      <% if(fiera.postiRimanenti === 0) { %>
      <button type="button" class="btn btn-danger">Posti esauriti</button>
      <% } else { %>
      <a href="/fiera/prenota/<%= fiera.id %>" class="btn btn-success"
        >Prenota!</a
      >
      <% } %>
    </div>
  </div>
</div>

<%- include ('./partials/footer.ejs') %>
