<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafeFair: <%= fiera.nome %> </title>
    <link rel="stylesheet" href="/styles/style.css">
    </head>
<body>

    <button onclick="topFunction()" id="topButton" title="Go to top">Top</button>

    <header>
        <a href="/"><img class="logo" src="/img/logo.png" alt="logo"></a>
        <nav>
            <ul class="links">
                <li><a href="#home">Home</a></li>
                <li><a href="#fiere">Fiere</a></li>
                <li><a href="#contatti">Contatti</a></li>
            </ul>
        </nav>
        <a class="login" href="#"> Log In</a>
    </header>

    <div id="ultime-fiere">
            <h2><%= fiera.nome %> </h2>
            <img src="/img/fiere/<%= fiera.nome %>/1.jpg" alt="<%= fiera.nome %>">
            <h1>Descrizione: </h1>
            <p><%= fiera.descrizione %> </p>
            <h1>Posti totali:</h1>
            <h3><%= fiera.postiTotali %></h3>
            <h1>Posti rimanenti:</h1>
            <h3><%= fiera.postiRimanenti %></h3>
            <a href="/<%= fiera.id %>">Clicca qui</a>
    </div>

<footer>
    <p>Footer</p>
</footer>
<script src="/js/scripts.js"></script>
</body>
</html>
