<%- include ('./partials/header.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-md-auto"></div>
            <div class="col">
                <% for( const fiera of fiere ) { %>
                    <div class="card" style="width: 30rem; margin-bottom: 10px; margin-top: 10px;">
                        <img class="card-img-top" src="/images/fiere/<%= fiera.nome %>/1.jpg" alt="<%= fiera.nome %>">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= fiera.nome %>
                            </h5>
                            <p class="card-text">
                                <%= fiera.descrizione %>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi recusandae, dicta molestiae aut, sunt debitis culpa, magnam quia nemo aperiam ad totam ipsum libero asperiores consectetur. Voluptas enim sapiente voluptatibus vero vitae velit dicta consequuntur consectetur, cumque ducimus delectus fugit dolores eius distinctio labore accusantium id explicabo eos doloremque?
                            </p>
                            <a href="/fiera/<%= fiera.id %>" class="btn btn-primary">Clicca qui</a>
                        </div>
                    </div>
                    <% } %>
            </div>
            

            <div class="col">
                <div class="card" style="width: 30rem; margin-bottom: 10px; margin-top: 10px;">
                <% for( const notizia of news ) { %>
                    <h2>
                        <%= notizia.news %>
                    </h2>
                    <small>
                        <%= notizia.timestamp %>
                    </small>
                    <% } %>
                </div>
            </div>
            <div class="col-md-auto"></div>
        </div>
    </div>


    <%- include ('./partials/footer.ejs') %>