<%- include ('./partials/header.ejs') %>

<h1 class="text-center mb-3 m1">
  <span class="oi oi-magnifying-glass"></span></i> Hai cercato per: <b> <%- q %> </b>
</h1>

<div class="container">
  <div class="row justify-content-center row-cols-1 row-cols-md-2">
    <% for( const fiera of fiere ) { %>
    <div class="col fiera-card">
      <div
        class="card mb-1"
      >
        <% switch (fiera.tag) { case 'Fumetto': %>
        <div
          class="card-header fumetto"
        >
          <%= fiera.tag %>
        </div>
        <% break; case 'Artigianato': %>
        <div
          class="card-header artigianato"
        >
          <%= fiera.tag %>
        </div>
        <% break; case 'Nautica': %>
        <div
          class="card-header nautica"
        >
          <%= fiera.tag %>
        </div>
        <% break; case 'Cucina': %>
        <div
          class="card-header cucina"
        >
          <%= fiera.tag %>
        </div>
        <% break; case 'Agricoltura': %>
        <div
          class="card-header agricoltura"
        >
          <%= fiera.tag %>
        </div>
        <% break; case 'Tecnologia': %>
        <div
          class="card-header tecnologia"
        >
          <%= fiera.tag %>
        </div>
        <% break; } %>

        <img
          class="card-img-top photo"
          src="/images/fiere/<%= fiera.nome %>/1.jpg"
          alt="<%= fiera.nome %>"
        />
        <div class="card-body">
          <h5 class="card-title"><%= fiera.nome %></h5>
          <p
            class="card-text"
          >
            <%= fiera.descrizione %>
          </p>
          <a href="/fiera/<%= fiera.id %>" class="btn btn-primary"
            >Vai alla fiera</a
          >
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<%- include ('./partials/footer.ejs') %>
