<%- include ('./partials/header.ejs') %>

    <p>Hai cercato per: <b> <%- q %> </b></p>

    <div>
        <% for( const fiera of fiere ) { %>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= fiera.nome %>
                    </h5>
                    <p class="card-text">
                        <%= fiera.descrizione %>
                    </p>
                    <a href="/fiera/<%= fiera.id %>" class="btn btn-primary">Vai alla fiera</a>
                </div>
            </div>
            <% } %>
    </div>

    <%- include ('./partials/footer.ejs') %>